In [1]:
# How do i create a pandas DataFrame from another object?

In [2]:
import pandas as pd

In [4]:
pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']}, columns=['id', 'color'])
# columns argument is used here to order the columns
# columns and values here

    id color
0  100   red
1  101  blue
2  102   red

In [5]:
pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']}, columns=['id', 'color'], index=['a', 'b', 'c'])
# we just created the new index

    id color
a  100   red
b  101  blue
c  102   red

In [6]:
df = pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']}, columns=['id', 'color'], index=['a', 'b', 'c'])

In [8]:
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']])
# list of lists, is what is in each row.

     0     1
0  100   red
1  101  blue
2  102   red

In [9]:
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']], columns=['id', 'color'])

    id color
0  100   red
1  101  blue
2  102   red

In [10]:
import numpy as np

In [11]:
arr = np.random.rand(4,2)
# creates a 4-row 2-column list of random numbers between 0 and 1 (the uniform distribution)

In [12]:
arr

array([[0.97448777, 0.81928459],
       [0.06425656, 0.72619839],
       [0.58634233, 0.26659678],
       [0.86619751, 0.22796881]])

In [13]:
pd.DataFrame(arr)

          0         1
0  0.974488  0.819285
1  0.064257  0.726198
2  0.586342  0.266597
3  0.866198  0.227969

In [14]:
pd.DataFrame(arr, columns=['one', 'two'])

        one       two
0  0.974488  0.819285
1  0.064257  0.726198
2  0.586342  0.266597
3  0.866198  0.227969

In [15]:
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)})
# student and test are columns
# student is 100-109 by 1 step
# test is random integers from 60 to 100, and there are 10 of them

   student  test
0      100    98
1      101    64
2      102    71
3      103    60
4      104    79
5      105    63
6      106    67
7      107    63
8      108    62
9      109    88

In [17]:
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)}).set_index('student')
# you can chain a set_index to a DataFrame anytime you want to make one of the columns the index

         test
student
100        76
101        69
102        96
103        88
104        94
105        66
106        61
107        63
108        79
109        67

In [19]:
s = pd.Series(['round', 'square'], index=['c', 'b'], name='shape')
s
# shape is the name of the series

c     round
b    square
Name: shape, dtype: object

In [20]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [21]:
pd.concat([df, s], axis=1)
# axis concatenates on the side of column
# name of series became column name
# series is aligned by the index; round=c square=b
# a = NaN because we didn't tell it what the shape of a is

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round